*.out
*.o
*.pbi
*.xcl
*.pro.user.*
*/obj
*/*/obj
*/.settings
*/*/.settings
IDE/EWARM/Debug
IDE/EWARM/settings
IDE/EWARM/BootDebug
IDE/Keil5_MDK/Objects
doc/
OBJ/
*.pdf
*.docx
*.txt
*.html
*.zip
*.jpg
*.png
*.doc
*.svg
*.gif
*.js
*.css
*.下载
*.bmp
*.bat
*.7z
*.rar